body {
  height: 100%;
  margin: 0;
  background-image: url('../imagenes/fondo-index.png');
    background: contain;
  overflow-y: auto;
}


/*GRID AREA*/
/*CELULAR*/

.contenedor {
  display: grid;
  grid-template-areas:
    "header nav"
    "sectionA sectionA"
    "sectionB sectionB"
    "footer footer";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
  
}

.sectionA {
  
  grid-area: sectionA;
}

.sectionB {
  
  grid-area: sectionB;
}

footer {
 
  grid-area: footer;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}


/*isotipo*/
.logo {
  height: 40px;
  margin-left: 40px;
  margin-top: 20px;
}

/*navegador*/
.nav-link {
  color: white;
  margin: 10px;
}

.navbar-toggler {
  color: white;
}

.navbar-toggler-icon {
  background-image: white;
}

.navbarNav {
  color: white;
}

/*formulario*/
.sectionA {
  width: 400px;
  height: auto;
  margin: 30px auto;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 25px;
}


input {
  background-color: #fbfbfb;
  width: 348px;
  height: 35px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #202020;
  padding-left: 10px;
}

textarea {
  background-color: #fbfbfb;
  width: 348px;
  height: 100px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #202020;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.button-form {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  text-transform: uppercase;
  background-color: #202020;
  border-color: #202020;
  border-style: solid;
  border-radius: 10px;
  width: 350px;
  cursor: pointer;
}

button p {
  color: #fff;
  margin-top: 5px;
}

h1 {
  font-size: 25px;
  text-align: letf;
  padding-bottom: 10px;
  color: #202020;
}

p {
  font-size: 14px;
  color: #0e0e0e;
}


/*informacion de contacto*/
.sectionB {
  margin: 0px auto 20px auto;
}

.textoContacto {
  margin-top: 40px;
  color: white;
  line-height: 50px;
}

.titulo {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.subtitulo {
  font-size: 15px;
  font-family: 'Montserrat';
  font-weight: 400;
  margin-left: 35px;
  margin-top: -48px;
}

/*footer*/
/*logo*/
.logoFooter {
  height: 20px;
  margin-top: 4px;
}

/*texto footer*/
.textoFooter {
  color: white;
  font-family: 'Montserrat';
  margin-top: 5px;
  font-size: 12px;
}

/*VERSION DE TABLET*/
@media (min-width:768px) {
  .contenedor {
    grid-template-areas:
      "header nav nav"
      "sectionA sectionB sectionB"
      "footer footer footer";
  }

  /*footer*/
  footer {
    position: absolute;
  }

  /*logo*/
  .logoFooter {
    margin-top: 7px;
  }

  /*texto footer*/
  .textoFooter {
    margin-top: 1px;
  }

  /*navegador*/
  .navbar-toggle {
    color: white;
  }

}

/*VERSION DE ESCRITORIO*/
@media (min-width:1024px) {
  .contenedor {
    grid-template-areas:
      "header nav nav"
      "sectionA sectionB sectionB"
      "footer footer footer";
  }

  /*footer*/
  /*logo*/
  .logoFooter {
    margin-top: 7px;
  }

  /*texto footer*/
  .textoFooter {
    margin-top: 1px;
  }
}