body {
    height: 100vh;
    margin: 0;
    background-image: url('../imagenes/fondo4.svg');
    background-size: cover;
    overflow-y: hidden;
}

/*GRID AREA*/
/*ORDENADOR*/
 
.contenedor {
    display: grid;
    grid-template-areas:
    "header nav nav"
    "sectionA sectionB sectionB"
    "footer footer footer";
}

/*header*/
header {
    grid-area: header;
}

    .logo {
        height: 40px;
        margin-left: 40px;
        margin-top: 20px;
    }


/*navegador*/
nav {
    grid-area: nav;
}
    
    .nav-link {
        color: white;
        margin: 10px;
    }

/*seccion A*/

.sectionA {
    grid-area: sectionA;
    margin: 10px auto 10px auto;
}

    /*texto cuerpo*/
    .textoInicio {
        margin-left: 100px;
        margin-top: 100px;
        color: white;
        
    }

    .tituloInicio {
        font-size: 19px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        text-transform: uppercase;
    }

    .logo-inicio {
        height: 170px;
        width: auto;
        margin-bottom: 20px;
    }

    .subtituloInicio {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        letter-spacing: 2px;
    }

/*seccion B*/
.sectionB {
    grid-area: sectionB;
    text-align: end;
}

    /*imagen cuerpo*/
    .fondoInicio {
        height: 500px;
        position: relative;
        margin-right: 120px;
    }

/*footer*/
footer {
    grid-area: footer;
    position: absolute;
    bottom: 0;
    width: 100%;
}

    .textoFooter {
        color: white;
        font-family: 'Montserrat';
        margin-top: 5px;
        font-size: 12px;
        text-align: center;
    }

    


/*VERSION DE TABLET*/
@media (max-width:1100px) {
    .contenedor {
        grid-template-areas:
            "header nav nav"
            "sectionA sectionB sectionB"
            "footer footer footer";
    }

    /*nav*/
    nav {
        grid-area: nav;
        text-align: right;
    }

    

    /*seccionA*/
    .textoInicio {
        margin-left: 50px;
        margin-top: 100px;
    }

    .tituloInicio {
        font-size: 14px;
    }

    .logo-inicio {
        height: 130px;
    
    }

    .subtituloInicio {
        font-size: 14px;
    }

    /*seccionB*/
    .fondoInicio {
        height: 420px;
    }

    /*footer*/
    .textoFooter {
        margin-top: 1px;
        font-size: 12px;
    }
}

/*VERSION DE CELULAR*/
@media (max-width:700px) {
    .contenedor {
        grid-template-areas:
            "header nav"
            "sectionB sectionB"
            "sectionA sectionA "
            "footer footer";
    }

    .sectionB {
        text-align: center;
    }

    /*seccionB*/
    .fondoInicio {
        height: 300px;
        
    }

    /*seccionA*/
    .textoInicio {
        margin-left: 100px;
        margin-top: 100px;
    }

    .logo-inicio {
        height: 170px;
        width: auto;
    }

    .tituloInicio {
        font-size: 19px;
    }

    .subtituloInicio {
        font-size: 20px;
    }

    /*footer*/
    .logoFooter {
        margin-top: 7px;
    }
    
    .textoFooter {
        margin-top: 1px;
    }

}