body {
    height: 100%;
    margin: 0;
    background-image: url('../imagenes/fondo-index.png');
    background: contain;
    overflow-y: hidden;
}

/*GRID AREA*/
/*CELULAR*/

.contenedor {
    display: grid;
    grid-template-areas:
        "header nav"
        "sectionB sectionB"
        "sectionA sectionA"
        "footer footer";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    
}

.sectionA {
   
    grid-area: sectionA;
    margin: auto;
}

.sectionB {
    
    grid-area: sectionB;
    text-align: center;
}

footer {
    
    grid-area: footer;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}


/*isotipo*/
.logo {
    height: 40px;
    margin-left: 40px;
    margin-top: 20px;
}

/*imagen cuerpo*/
.fondoInicio {
    height: 320px;
    margin: 0;
}

/*texto cuerpo*/
.textoInicio {
    padding-left: 11px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
    border-left: solid 5px #202020;
    line-height: 60px;
}

.tituloInicio {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 30px;
}

.subtituloInicio {
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 20px;
    padding-right: 20px;
}

/*navegador*/
.nav-link {
    color: white;
    margin: 10px;
}

/*footer*/
/*logo*/
.logoFooter {
    height: 20px;
    margin-top: 4px;
}

/*texto footer*/
.textoFooter {
    color: white;
    font-family: 'Montserrat';
    margin-top: 5px;
    font-size: 12px;
}

/*VERSION DE TABLET*/
@media (min-width:768px) {
    .contenedor {
        grid-template-areas:
            "header nav nav"
            "sectionA sectionB sectionB"
            "footer footer footer";
    }

    /*imagen cuerpo*/
    .fondoInicio {
        height: 500px;
        transform: translate(-5px);
    }

    /*texto cuerpo*/
    .textoInicio {
        margin-left: 50px;
        margin-top: 100px;
    }

    .tituloInicio {
        font-size: 25px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .subtituloInicio {
        font-size: 14px;
        line-height: 30px;
        padding-right: 50px;
    }

    /*footer*/

    /*logo*/
    .logoFooter {
        margin-top: 7px;
    }

    /*texto footer*/
    .textoFooter {
        margin-top: 1px;
    }

    /*navegador*/
    .navbar-toggle {
        color: white;
    }

}

/*VERSION DE ESCRITORIO*/
@media (min-width:1024px) {
    .contenedor {
        grid-template-areas:
            "header nav nav"
            "sectionA sectionB sectionB"
            "footer footer footer";
    }

    /*imagen cuerpo*/
    .fondoInicio {
        height: 500px;
        transform: translate(-5px);
        margin-bottom: 10px;
    }

    /*texto cuerpo*/
    .textoInicio {
        margin-left: 80px;
        margin-top: 100px;
    }

    .tituloInicio {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .subtituloInicio {
        font-size: 15px;
        line-height: 30px;
        padding-right: 100px;
    }

    /*footer*/

    /*logo*/
    .logoFooter {
        margin-top: 7px;
    }

    /*texto footer*/
    .textoFooter {
        margin-top: 1px;
    }

}