body {
    height: 100%;
    margin: 0;
    background-image: url('../imagenes/fondo-index.png');
    background: contain;
    overflow-y: hidden;
}


/*GRID AREA*/
/*CELULAR*/
 
.contenedor {
    display: grid;
    grid-template-areas:
        "header nav"
        "sectionB sectionB"
        "sectionA sectionA"
        "footer footer";
}

header {
    
    grid-area: header;
}


nav {
    grid-area: nav;
}

.sectionA {
    
    grid-area: sectionA;
    margin: 10px auto 10px auto;
}

.sectionB {
    grid-area: sectionB;
    text-align: center;
}

footer {
    grid-area: footer;
    background-color: rgba(34, 34, 34, 0.308);
    
}

/*navegador*/
.nav-link {
    color: white;
    margin: 10px;
}

footer {
    grid-area: footer;
 
    grid-area: footer;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*isotipo*/
.logo {
    height: 40px;
    margin-left: 40px;
    margin-top: 20px;
}

/*imagen cuerpo*/
.fondoInicio {
    height: 380px;
    margin: 0;
}

/*texto cuerpo*/
.textoInicio {
    padding-left: 11px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 60px;
    color: white;
    
}

.logo-inicio {
height: 100px;
width: auto;
}

.tituloInicio {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.subtituloInicio {
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 400;
}

/*footer*/
/*logo*/
.logoFooter {
    height: 20px;
    margin-top: 4px;
}

/*texto footer*/
.textoFooter {
    color: white;
    font-family: 'Montserrat';
    margin-top: 5px;
    font-size: 12px;
}

/*VERSION DE TABLET*/
@media (min-width:768px) {
    .contenedor {
        grid-template-areas:
            "header nav nav"
            "sectionA sectionB sectionB"
            "footer footer footer";
    }

    nav {
        grid-area: nav;
        text-align: right;
       
    }

    /*imagen cuerpo*/
    .fondoInicio {
        height: 500px;
    }

    /*texto cuerpo*/
    .textoInicio {
        margin-left: 50px;
        margin-top: 200px;
    }

    .tituloInicio {
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }

    .subtituloInicio {
        font-size: 20px;
        font-family: 'Montserrat';
        font-weight: 400;
    }

    /*footer*/
    /*logo*/
    .logoFooter {
        margin-top: 7px;
    }

    /*texto footer*/
    .textoFooter {
        margin-top: 1px;
        font-size: 12px;
    }
}

/*VERSION DE ESCRITORIO*/
@media (min-width:1024px) {
    .contenedor {
        grid-template-areas:
            "header nav nav"
            "sectionA sectionB sectionB"
            "footer footer footer";
    }


    /*imagen cuerpo*/
    .fondoInicio {
        height: 500px;
        margin: 0;
    }

    /*texto cuerpo*/
    .textoInicio {
        margin-left: 130px;
        margin-top: 150px;
    }

    .logo-inicio {
        height: 170px;
        width: auto;
    }

    .tituloInicio {
        font-size: 20px;
    }

    .subtituloInicio {
        font-size: 25px;
    }

    /*footer*/
    /*logo*/
    .logoFooter {
        margin-top: 7px;
    }

    /*texto footer*/
    .textoFooter {
        margin-top: 1px;
    }

}