body {
    margin: 0;
    height: 100vh;
    background-image: url('/imagenes/fondo4.svg');
    background-repeat:no-repeat;
    background-size: cover;
    overflow-y: auto;
}

/*VERSION DE CELULAR*/

.contenedor {
    display:grid;
    grid-template-areas:
        "header nav"
        "sectionA sectionA"
        "sectionB sectionB "
        "footer footer";
}

header {
    grid-area: header;
  }

  nav {
    grid-area: nav;
  }

  .sectionA {
    grid-area: sectionA;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .sectionB {
    grid-area: sectionB;
    display: flex;
  }

  body {
    overflow-x: hidden;
  }

nav{
    z-index: 100;
}

.nav-links {
    position: fixed;
    right: 0px;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}

.nav-links li {
  margin-top: 8px;;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
}

.nav-links li a:hover{
  color:rgb(251, 202, 27);
  transition: 0.5s;
}

.burger {
  display: block;
  cursor: pointer;
}

.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.burger {
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 15px;;
  margin-top:4vh;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 2px;
  transition: all 0.3s ease;
}

/*isotipo*/
.logo {
  height: 40px;
  margin-left: 40px;
  margin-top: 20px;
}

/*texto cuerpo*/
.textoInicio {
    display:flex;
    flex-direction:column ;
    align-items: flex-start;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
    color: white;
}

.tituloInicio {
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.logo-inicio {
    height: 170px;
    width: auto;
    margin-bottom: 20px;
}

.subtituloInicio {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}

.sectionB {
    text-align: center;
}

    /*imagen cuerpo*/
    .fondoInicio {
        height: 300px;
        position: relative;
        margin:30px;
    }

    /*footer*/
    footer {
        grid-area: footer;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

.whatsapp{
    position:fixed;
    width:60px;
    height:60px;
    bottom:30px;
    right:20px;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:40px;
    z-index:100;
}

/*texto footer*/
.textoFooter {
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    margin-top: 5px;
    font-size: 12px;
}


/*VERSION DE TABLET*/
@media (min-width:768px) {
    .contenedor {
        grid-template-areas:
            "header nav nav"
            "sectionA sectionB sectionB"
            "footer footer footer";
    }

    /*navegador*/
    nav {
        position:fixed;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        z-index: auto;
    }

    .nav-links {
        display:flex;
        flex-direction: row;
        align-items: flex-start;
        width: 50%;
        height:auto;
        background-color: transparent;
        justify-content: space-around;
        transform:none;
        height: auto;
        top:4vh;
        margin-bottom: 0;
        margin-right: 70px;
    }

    .nav-links li {
        display:flex;
        opacity: 1;
    }

    .nav-links li a {
        color: white;
        font-size: 17px;
        font-weight: 400;
        font-family: 'Montserrat';
    }

    .navbar-toggle {
        color: white;
    }

    .burger {
        display: none;
    }

    .logo {
        height: 60px;
        margin-left: 50px;
        margin-top: 30px;
    }

    /*seccionA*/
    .textoInicio {
        margin-left: 50px;
        margin-top: 100px;
    }

    .tituloInicio {
        font-size: 14px;
    }

    .logo-inicio {
        height: 130px;
    }

    .subtituloInicio {
        font-size: 14px;
    }

    /*seccionB*/
    .fondoInicio {
        height: 450px;
        width: 500px;
    }

    /*footer*/
    .textoFooter {
        margin-top: 1px;
        font-size: 12px;
    }
}

/*GRID AREA*/
/*ORDENADOR*/
@media (min-width:1024px) {
    .contenedor {
        grid-template-areas:
        "header nav nav"
        "sectionA sectionB sectionB"
        "footer footer footer";
    }
    nav {
        position:fixed;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        z-index: auto;
    }

    .nav-links {
        display:flex;
        flex-direction: row;
        align-items: flex-start;
        width: 40%;
        height:auto;
        background-color: transparent;
        justify-content: space-evenly;
        transform:none;
        height: auto;
        top:4vh;
        margin-bottom: 0;
        margin-right: 70px;
    }

    .nav-links li {
        display:flex;
        opacity: 1;
    }

    .nav-links li a {
        color: white;
        font-size: 17px;
        font-weight: 400;
        font-family: 'Montserrat';
    }

    .burger {
        display: none;
    }

    .logo {
        height: 60px;
        margin-left: 50px;
        margin-top: 30px;
    }
    
    .textoInicio {
        margin-left: 100px;
        margin-top: 100px;
        margin-right:0;
    }
    
    .logo-inicio {
        height: 170px;
        width: auto;
    }
    
    .tituloInicio {
        font-size: 19px;
    }
    
    .subtituloInicio {
        font-size: 20px;
    }

    /*seccionB*/
    .sectionB{
        justify-content: center;
    }

    .fondoInicio {
        height: 550px;
        width: auto;
        margin:0;
    }

    .whatsapp{
        bottom:40px;
        right:30px;
        font-size:40px;
    }
}