body {
    margin: 0;
    min-height: 100vh;
    background-color: black;
    background-image: url('../imagenes/fondo-inicio-nos_1-100.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    overflow-y: auto;
    overflow-x: hidden;
}

/*VERSION DE CELULAR*/
.contenedor {
    display:grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header nav"
        "sectionA sectionA"
        "sectionB sectionB"
        "footer footer";
}

header {
    grid-area: header;
  }

  nav {
    grid-area: nav;
  }

  .sectionA {
    grid-area: sectionA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:15px;
    margin-bottom: 15px;
  }

  .sectionB {
    grid-area: sectionB;
    display: flex;
    justify-content: center;
  }

nav{
    z-index: 100;
}

.nav-links {
    position: fixed;
    right: 0px;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}

.nav-links li {
  margin-top: 8px;;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
}

.nav-links li a:hover{
  color:rgb(251, 202, 27);
  transition: 0.5s;
}

.burger {
  display: block;
  cursor: pointer;
}

.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.burger {
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 15px;;
  margin-top:4vh;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 2px;
  transition: all 0.3s ease;
}

/*isotipo*/
.logo {
  height: 40px;
  margin-left: 40px;
  margin-top: 20px;
}

.imagen-nosotros{
  height: 350px;
}

.textoNosotros {
  display:flex;
  flex-direction:column ;
  color: white;
}

.tituloNosotros{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.subtituloNosotros{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.parrafoSecundario {
  margin: 0;
}

/*footer*/
footer {
    grid-area: footer;
    bottom: 0;
    width: 100%;
}

.whatsapp{
    position:fixed;
    width:60px;
    height:60px;
    bottom:30px;
    right:20px;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:40px;
    z-index:100;
}

.whatsapp-icon {
  color:white;
  text-decoration: none;
}

.whatsapp-icon:hover{
  color:rgb(251, 202, 27);
}

/*texto footer*/
.textoFooter {
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    margin-top: 5px;
    font-size: 12px;
}

/*CELULAR GRANDE*/
@media (min-width:385px) {
  .contenedor {
    grid-template-rows: auto 0.90fr auto;
  }

  .sectionA {
    margin: 0;
  }
}

/*TABLET*/
@media (min-width:768px) {

  .sectionA{
    margin-top:20px;
    margin-bottom: 20px;
  }

  .burger {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 15px;;
    margin-top:4vh;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 2px;
    transition: all 0.3s ease;
  }
  
  /*isotipo*/
  .logo {
    height: 40px;
    margin-left: 40px;
    margin-top: 20px;
  }
  
  .imagen-nosotros{
    height: 550px;
  }
   
  .tituloNosotros{
    font-size: 30px;
  }
  
  .subtituloNosotros{
    font-size: 25px;
  }
  
  p{
    font-size: 18px;
  }
  
}

/*ORDENADOR*/
@media (min-width:1024px) {
    .contenedor {
        grid-template-areas:
        "header nav nav"
        "sectionA sectionB sectionB"
        "footer footer footer";
    }

    .sectionA {
      margin-left:100px;
      margin-top:30px;
      margin-bottom:0;
    }
    
    .sectionB{
      margin-left: 50px;
    }

    nav {
        position:fixed;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        z-index: auto;
    }

    .nav-links {
        display:flex;
        flex-direction: row;
        align-items: flex-start;
        width: 40%;
        height:auto;
        background-color: transparent;
        justify-content: space-evenly;
        transform:none;
        height: auto;
        top:4vh;
        margin-bottom: 0;
        margin-right: 70px;
    }

    .nav-links li {
        display:flex;
        opacity: 1;
    }

    .nav-links li a {
        color: white;
        font-size: 17px;
        font-weight: 400;
        font-family: 'Montserrat';
    }

    .burger {
        display: none;
    }

    .logo {
        height: 60px;
        margin-left: 50px;
        margin-top: 30px;
    }

    .imagen-nosotros{
      height: 480px;
    }
    
    .textoNosotros {
      margin-top:60px;
      width:100%;
    }
    
    .tituloNosotros{
      font-size: 45px;
      letter-spacing: 2px;
    }
    
    .subtituloNosotros{
      font-size: 35px;
      letter-spacing: 2px;
    }
    
    p{
      font-size: 26px;
      letter-spacing: 1px;
    }
}

@media(min-width:1920px) {

    .imagen-nosotros{
      height: 700px;
    }

    .textoNosotros {
      width: 100%;
      margin-left: 100px;
      margin-top:100px
    }
    
    .tituloNosotros{
      font-size: 50px;
      letter-spacing: 2px;
    }
    
    .subtituloNosotros{
      font-size: 40px;
      letter-spacing: 2px;
    }
    
    p{
      font-size: 30px;
      letter-spacing: 1px;
    }

}