body {
    margin: 0;
    min-height: 100vh;
    background-color: black;
    background-image: url('../imagenes/fondo-inicio-nos_1-100.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    overflow-y: auto;
    overflow-x: hidden;
}

/*VERSION DE CELULAR*/
.contenedor {
    display:grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "sectionA sectionA"
        "sectionB sectionB"
        "footer footer";
}

  header {
    grid-area: header;
    height:100px;
    width: 100%;
  }

  /* Pantalla de carga */
  .hidden{
    overflow: hidden;
  }

  .centrado{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lds-facebook {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }

  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: rgb(251, 202, 27);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  .lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
  }

  .lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
  }

  .lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
  }

  @keyframes lds-facebook {
    0% {
    top: 6px;
    height: 51px;
    }

    50%,
    100% {
    top: 19px;
    height: 26px;
  }
}

  .sectionA {
    grid-area: sectionA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:15px;
    margin-bottom: 15px;
  }

  .sectionB {
    grid-area: sectionB;
    display: flex;
    justify-content: center;
  }

/* Navbar */
nav{
  width: 100%;
  position: absolute;
  z-index: 101;
}

.nav1{
  background: transparent;
  height: 80px;
  color:#fff;
}

.contenedor-nav{
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height:inherit;
  overflow: hidden;
}

.enlaces{
  position: fixed;
  top:80px;
  background: black;
  right: 0;
  height: 100%;
  transition: 1s;
  width: 0;
  overflow: hidden;
}

.enlaces a{
  display: block;
  width: 100%;
  height: 50px;
  padding: 20px;
  text-align: center;
  background: black;
  color:#fff;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Montserrat';
}

nav .enlaces a:hover{
  color:rgb(251, 202, 27);
  transition: 0.6s;
}

/* icono responsive y logo */
.icono{
  display:block;
  cursor: pointer;
  font-size: 25px;
  margin-right: 20px;
}

.logo, .logo img{ 
  height:40px;
  margin-left:20px;
}

.imagen-nosotros{
  height: 350px;
}

.textoNosotros {
  display:flex;
  flex-direction:column ;
  color: white;
}

.tituloNosotros{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.subtituloNosotros{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.parrafoSecundario {
  margin: 0;
}

/*footer*/
footer {
    grid-area: footer;
    bottom: 0;
    width: 100%;
}

.whatsapp{
    position:fixed;
    width:60px;
    height:60px;
    bottom:30px;
    right:20px;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:40px;
    z-index:100;
}

.whatsapp-icon {
  color:white;
  text-decoration: none;
}

.whatsapp-icon:hover{
  color:rgb(251, 202, 27);
}

/*texto footer*/
.textoFooter {
  display:flex;
  justify-content: center;
  color: white;
  font-family: 'Montserrat';
  margin-top: 40px;
  font-size: 12px;
}

/*CELULAR GRANDE*/
@media (min-width:385px) {
  .contenedor {
    grid-template-rows: auto 0.90fr auto;
  }

  .sectionA {
    margin: 0;
  }
}

/*TABLET*/
@media (min-width:768px) {

  .sectionA{
    margin-top:20px;
    margin-bottom: 20px;
  }
  
  /*isotipo*/
  .logo {
    height: 60px;
    margin-left: 50px;
    margin-top: 30px;
}
  
  .imagen-nosotros{
    height: 550px;
  }
   
  .tituloNosotros{
    font-size: 30px;
  }
  
  .subtituloNosotros{
    font-size: 25px;
  }
  
  p{
    font-size: 18px;
  }
  
}

/*ORDENADOR*/
@media (min-width:1024px) {
    .contenedor {
        grid-template-areas:
        "header header header"
        "sectionA sectionB sectionB"
        "footer footer footer";
    }

    .sectionA {
      margin-left:100px;
      margin-top:20px;
      margin-bottom:0;
    }
    
    .sectionB{
      margin-left: 50px;
    }

  .contenedor-nav{
      display: flex;
      margin: auto;
      justify-content: space-between;
      height: auto;
    }

  .enlaces{
      display: flex;
      position:inherit;
      overflow:visible;
      left:auto;
      width: 40%;
      background:transparent;
      height: 0;
      margin-right: 50px;
    }

  nav .enlaces a{
      display: inline-block;
      padding: 0;
      margin-right: 0;
      text-decoration: none;
      border-bottom: none;
      background:transparent;
  }

  .icono{
      display:none;
      font-size: 24px;
      padding: 23.5px 20px;
  }

  .logo, .logo img{ 
      height:60px;
  }

    .imagen-nosotros{
      height: 445px;
    }
    
    .textoNosotros {
      margin-top:40px;
      width:100%;
    }
    
    .tituloNosotros{
      font-size: 40px;
      letter-spacing: 2px;
    }
    
    .subtituloNosotros{
      font-size: 30px;
      letter-spacing: 2px;
    }
    
    p{
      font-size: 26px;
      letter-spacing: 1px;
    }
}

@media(min-width:1920px) {

    .imagen-nosotros{
      height: 700px;
    }

    .textoNosotros {
      width: 100%;
      margin-left: 100px;
      margin-top:100px
    }
    
    .tituloNosotros{
      font-size: 50px;
      letter-spacing: 2px;
    }
    
    .subtituloNosotros{
      font-size: 40px;
      letter-spacing: 2px;
    }
    
    p{
      font-size: 30px;
      letter-spacing: 1px;
    }

}