body {
  margin: 0;
  min-height: 100vh;
  background-image: url("../imagenes/fondo_contacto.webp");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden;
}

/*GRID AREA*/
/*CELULAR*/
.contenedor {
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
  grid-template-areas:
    "header header"
    "sectionA sectionA"
    "sectionB sectionB"
    "footer footer";
}

header {
  grid-area: header;
  height:100px;
  width: 100%;
}

  .sectionA {
    grid-area: sectionA;
  }

  .sectionB {
    grid-area: sectionB;
  }

  body {
    overflow-x: hidden;
  }

/* Pantalla de carga */
.hidden{
  overflow: hidden;
}

.centrado{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: rgb(251, 202, 27);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }

  50%,
  100% {
    top: 19px;
    height: 26px;
  }
}

/* Navbar */
nav{
  width: 100%;
  position: absolute;
  z-index: 101;
}

.nav1{
  background: transparent;
  height: 80px;
  color:#fff;
}

.contenedor-nav{
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height:inherit;
  overflow: hidden;
}

.enlaces{
  position: fixed;
  top:80px;
  background: black;
  right: 0;
  height: 100%;
  transition: 1s;
  width: 0;
  overflow: hidden;
}

.enlaces a{
  display: block;
  width: 100%;
  height: 50px;
  padding: 20px;
  text-align: center;
  background: black;
  color:#fff;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Montserrat';
}

nav .enlaces a:hover{
  color:rgb(251, 202, 27);
  transition: 0.6s;
}

/* icono responsive y logo */
.icono{
  display:block;
  cursor: pointer;
  font-size: 25px;
  margin-right: 20px;
}

.logo, .logo img{ 
  height:40px;
  margin-left:20px;
}

/*seccion A*/
.sectionA {
  display:flex;
  height: auto;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

  .sectionA h1{
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-size: 30px;
    letter-spacing: 0.05em;
    font-weight: 900;
    font-family: 'Poppins';
    margin:0;
  }

  .sectionA h2{
    font-style: italic;
    font-size: 30px;
    color:white;
    font-weight: 900;
    font-family: 'Poppins'; 
  }

  .sectionA h3{
    letter-spacing: 0.4em;
    color:rgb(251, 202, 27);
    font-size: 15px;
    font-weight: 800;
    font-style: italic;
    font-family: 'Montserrat';
  }


/*informacion de acto*/
.sectionB {
  margin: 0px auto 20px auto;
  width: 100%;
}

.textoContacto {
  display:flex;
  height: 50%;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 20px;
  justify-content: space-evenly;
}

.subtitulo {
  font-size: 18px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: italic;

  color: white;
  text-decoration: none;
}

  .instagram{
    width: 20px;
    height: 20px;
  }

  .whatsapp-b{
    width: 20px;
    height: 20px;
  }

  /*footer*/

  footer {
    grid-area: footer;
    bottom: 0;
    width: 100%;
  }

  .whatsapp{
    position:fixed;
    width:60px;
    height:60px;
    bottom:30px;
    right:20px;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:40px;
    z-index:100;
  }

  .subtitulo a {
    color:white;
    text-decoration: none;
  }

  .subtitulo a :hover {
    text-decoration: none;
    color:white;
  }

  .whatsapp-icon {
    color:white;
    text-decoration: none;
  }
  
  .whatsapp-icon:hover{
    color:rgb(251, 202, 27);
  }

  .fondo-img-burbuja{
    position:absolute;
    display:flex;
    justify-content: center;
    bottom:0;
    z-index:-100;
    width: 100%;
  }

  .fondo-burbuja{
    position:fixed;
    top:600px;
    width: 450px;
  }
 
  /*texto footer*/
  .textoFooter {
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    margin-top: 5px;
    font-size: 12px;
  }

/*VERSION DE TABLET*/
@media (min-width:768px) {
  .contenedor {
    grid-template-areas:
      "header header"
      "sectionA sectionA "
      "sectionB sectionB "
      "footer footer ";
  }

  /*navegador*/

  .logo {
    height: 60px;
    margin-left: 50px;
    margin-top: 30px;
  }
  
  /*footer*/
  footer {
    position: absolute;
  }

  /*logo*/
  .logoFooter {
    margin-top: 7px;
  }

  /*texto footer*/
  .textoFooter {
    margin-top: 1px;
  }

  /*informacion de contacto tablet*/
  .sectionA h1{
    font-size: 45px;
  }

  .sectionA h2{
    font-size: 45px;
  }

  .sectionA h3{
    font-size: 20px;
  }

  .instagram{
    width: 30px;
    height: 30px;
  }

  .whatsapp-b{
    width: 30px;
    height: 30px;
  }

  .whatsapp{
    font-size:40px;
  }

  .subtitulo {
    font-size: 20px;
  }

  .textoContacto {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .fondo-burbuja{
    position:fixed;
    top:610px;
    width: 450px;
  }

}

/*VERSION DE ESCRITORIO*/
@media (min-width:1024px) {
  .contenedor {
    grid-template-areas:
    "header header header "
    "sectionA sectionA "
    "sectionB sectionB "
    "footer footer ";
  }

  .contenedor-nav{
    display: flex;
    margin: auto;
    justify-content: space-between;
    height: auto;
  }

  .enlaces{
      display: flex;
      position:inherit;
      overflow:visible;
      left:auto;
      width: 40%;
      background:transparent;
      height: 0;
      margin-right: 50px;
  }

  nav .enlaces a{
      display: inline-block;
      padding: 0;
      margin-right: 0;
      text-decoration: none;
      border-bottom: none;
      background:transparent;
  }

  .icono{
      display:none;
      font-size: 24px;
      padding: 23.5px 20px;
  }

  .logo, .logo img{ 
      height:60px;
  }

  .textoContacto {
    margin-top: 100px;
  }

  .subtitulo a {
    font-size: 20px;
  }

  /*footer*/
  /*logo*/
  .logoFooter {
    margin-top: 7px;
  }

  /*texto footer*/
  .textoFooter {
    margin-top: 1px;
  }

  /*main*/
  .sectionA {
    margin-top: 60px;

  }
  
  .sectionA h1{
    font-size: 65px;
  }

  .sectionA h2{
    font-size: 65px;
    margin:0;
  }

  .sectionA h3{
    font-size: 20px;
    margin:0;
  }

  .sectionB{
    margin:0;
  }

  .whatsapp{
    bottom:40px;
    right:30px;
    font-size:40px;
  }

  /*informacion de contacto escritorio*/
  .textoContacto {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .instagram{
    width: 30px;
    height: 30px;
  }

  .whatsapp-b{
    width: 30px;
    height: 30px;
  }

  .subtitulo {
    font-size: 30px;
  }

  .fondo-burbuja{
    position:fixed;
    top:700px;
  }
}

/*Escritorio grande*/
@media (min-width:1920px) {
  .fondo-burbuja{
    top:790px;
  }
} 