body {
  margin: 0;
  min-height: 100vh;
  background-color: black;
  background-image: url('../imagenes/fondo_sedes.webp');
  background-size: cover;
  overflow-y: auto;
  overflow-x: hidden;
}

/*VERSION DE CELULAR*/
.contenedor {
  display:grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
      "header nav"
      "sedeA sedeA"
      "sedeB sedeB "
      "footer footer";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

.sedeA {
  grid-area: sedeA;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 20px;
  margin-left: 0;
}

.sedeB {
  grid-area: sedeB;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 20px;
}

nav{
  z-index: 100;
}

.nav-links {
  position: fixed;
  right: 0px;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 40%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}

.nav-links li {
  margin-top: 8px;;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
}

.nav-links li a:hover{
  color:rgb(251, 202, 27);
  transition: 0.5s;
}

.burger {
  display: block;
  cursor: pointer;
}

.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.burger {
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 15px;;
  margin-top:4vh;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 2px;
  transition: all 0.3s ease;
}

/*isotipo*/
.logo {
  height: 40px;
  margin-left: 40px;
  margin-top: 20px;
}

/*texto cuerpo*/
.textoSedeA {
  display:flex;
  flex-direction:column ;
  align-items: flex-start;
  margin-top: 30px;
  color: white;
}

.tituloSedeA {
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 900;
  padding-left: 70px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: italic;
}

.logo-sedeA {
  height: 185px;
  width: auto;
  margin-bottom: 20px;
  margin-left: 0;
}


/*sede B*/
.textoSedeB {
  margin-top: 30px;
  margin-bottom: 40PX;
  color: white;
}

.tituloSedeB {
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 900;
  padding-left: 70px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: italic;
}

.logo-sedeB {
  height: 185px;
  width: auto;
  margin-bottom: 20px;
  padding-left: 0;
  position: relative;
  text-align: end;
}

.descripcionA{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding-left: 70px;
}

.descripcionA strong {
  font-style: italic;
}

.descripcionB{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding-left: 70px;
}

.descripcionB strong {
  font-style: italic;
}

.horariosTituloA{
  color:rgb(251, 202, 27);
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: italic;
  padding-left: 70px;
}

.horariosTituloB{
  color:rgb(251, 202, 27);
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: italic;
  padding-left: 70px;
}

/*footer*/
footer {
  grid-area: footer;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
}

.whatsapp{
  position:fixed;
  width:60px;
  height:60px;
  bottom:30px;
  right:20px;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:40px;
  z-index:100;
}

.whatsapp-icon {
  color:white;
  text-decoration: none;
}

.whatsapp-icon:hover{
  color:rgb(251, 202, 27);
}

/*texto footer*/
.textoFooter {
  text-align: center;
  color: white;
  font-family: 'Montserrat';
  margin-top: 5px;
  font-size: 12px;
}

/*VERSION DE TABLET*/
@media (min-width:768px) {
    .contenedor {
        grid-template-areas:
            "header nav nav"
            "sedeA sedeB sedeB"
            "footer footer footer";
    }

    

    .logo {
        height: 60px;
        margin-left: 50px;
        margin-top: 30px;
    }

  /*sede A*/
  .textoSedeA {
    margin-top: 30px;
    
  }

  .tituloSedeA {
    padding-left: 73px;
    font-size: 20px;
  }

  .logo-sedeA {
    height: 200px;
    margin-bottom: 10px;
  }


  /*sede B*/
  .textoSedeB {
    margin-left: auto;
    margin-right: 0;
    margin-top:30px;
    align-items: flex-start;
    
    
  }

  .tituloSedeB {
    padding-left: 80px;
    font-size: 20px;
    
  }

  .logo-sedeB {
    height: 200px;
    margin-bottom: 10px;
    padding-right: 0;
    padding-left: auto;
    position: relative; /*esto no anda*/
    text-align: end; /*esto no anda*/
  }


  .horariosTituloA{
    font-size: 20px;
    padding-left: 73px;
  }

  .horariosTituloB{
    font-size: 20px;
    align-items: flex-start;
    padding-left: 80px;
    
  }

  /*footer*/
  .textoFooter {
    margin-top: 1px;
    font-size: 12px;
  }

  .descripcionA{
    font-size: 13px;
    padding-left: 73px;
  }

  .descripcionB{
    font-size: 13px;
    padding-left: 80px;
    
  }
}

/*GRID AREA*/
/*ORDENADOR*/
@media (min-width:1024px) {
  .contenedor {
      grid-template-areas:
      "header nav nav"
      "sedeA sedeB sedeB"
      "footer footer footer";
  }
  nav {
      position:fixed;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      z-index: auto;
  }

  .nav-links {
      display:flex;
      flex-direction: row;
      align-items: flex-start;
      width: 40%;
      height:auto;
      background-color: transparent;
      justify-content: space-evenly;
      transform:none;
      height: auto;
      top:4vh;
      margin-bottom: 0;
      margin-right: 70px;
  }

  .nav-links li {
      display:flex;
      opacity: 1;
  }

  .nav-links li a {
      font-size: 17px;
      font-weight: 400;
      font-family: 'Montserrat';
  }

  .burger {
      display: none;
  }

  .logo {
      height: 60px;
      margin-left: 50px;
      margin-top: 30px;
  }

  .logo-sedeA {
    height: 295px;
    margin-left: 0;
    padding-left: 0;
  }

  .textoSedeA {
    padding-right: 0;
    margin-top:20px;
  }

  .tituloSedeA {
    padding-left: 113px;
    font-size: 25px;
  }

  .tituloSedeB {
    padding-left: 115px;
    font-size: 25px;
  }

  .logo-sedeB {
    height: 295px;
  }

  .textoSedeB {
    margin-left: auto;
    margin-right: 0;
    margin-top:20px;
    align-items: flex-start;
    padding-right: 0;
    
  }

  .descripcionA{
    font-size: 17px;
    padding-left: 113px;

  }

  .descripcionB{
    font-size: 17px;
    padding-left: 113px;

  }

  .horariosTituloA{
    font-size: 19px;
    padding-left: 115px;
  }

  .horariosTituloB{
    font-size: 19px;
    padding-left: 115px;
  }

  .whatsapp{
      bottom:40px;
      right:30px;
      font-size:40px;
  }
}

