body {
  margin: 0;
  min-height: 100vh;
  background-color: black;
  background-image: url('/imagenes/fondo-inicio-nos_1-100.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  overflow-y: auto;
  overflow-x: hidden;
}

/*VERSION DE CELULAR*/
.contenedor {
  display:grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
      "header header"
      "sedes sedes"
      "footer footer";
}

header {
  grid-area: header;
  height:100px;
  width: 100%;
}

.sedes {
  grid-area: sedes;
  display: flex;
  flex-direction: column;
  align-content: start;
  margin-top: 20px;
  margin-left: 0;
  justify-content: space-evenly;
}

/*texto cuerpo*/
.sedeA {
  margin-top: 5px;
  color: white;
  text-align: start;
  padding-right: 25%;
}

.tituloSedeA {
  font-size: 20px;
  font-family: 'Poppins';
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 75px;
  font-style: italic;
}

.logo-sedeA {
  height: 202px;
  width: auto;
  margin-bottom: 20px;
}

/*sede B*/
.sedeB {
  margin-top: 30px;
  margin-bottom: 40PX;
  color: white;
  text-align: start;
}

.tituloSedeB {
  font-size: 20px;
  font-family: 'Poppins';
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-style: italic;
  padding-left: 75px;
}

.logo-sedeB {
  height: 202px;
  width: auto;
  margin-bottom: 20px;
  position: relative;
  text-align: end;
}

.descripcionA{
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding-left: 75px;
}

.descripcionA strong {
  font-style: italic;
}

.descripcionB{
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding-left: 75px;
  padding-right: 20px;
 
}

.descripcionB strong {
  font-style: italic;
}



.horariosTituloA{
  color:rgb(251, 202, 27);
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: italic;
  padding-left: 75px;
}

.horariosTituloB{
  color:rgb(251, 202, 27);
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: italic;
  padding-left: 75px;
}

/* Pantalla de carga */
.hidden{
  overflow: hidden;
}

.centrado{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: rgb(251, 202, 27);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }

  50%,
  100% {
    top: 19px;
    height: 26px;
  }
}

/* Navbar */
nav{
  width: 100%;
  position: absolute;
  z-index: 101;
}

.nav1{
  background: transparent;
  height: 80px;
  color:#fff;
}

.contenedor-nav{
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height:inherit;
  overflow: hidden;
}

.enlaces{
  position: fixed;
  top:80px;
  background: black;
  right: 0;
  height: 100%;
  transition: 1s;
  width: 0;
  overflow: hidden;
}

.enlaces a{
  display: block;
  width: 100%;
  height: 50px;
  padding: 20px;
  text-align: center;
  background: black;
  color:#fff;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Montserrat';
}

nav .enlaces a:hover{
  color:rgb(251, 202, 27);
  transition: 0.6s;
}

/* icono responsive y logo */
.icono{
  display:block;
  cursor: pointer;
  font-size: 25px;
  margin-right: 20px;
}

.logo, .logo img{ 
  height:40px;
  margin-left:20px;
}

/*footer*/
footer {
  grid-area: footer;
  bottom: 0;
  width: 100%;
}

.whatsapp{
  position:fixed;
  width:60px;
  height:60px;
  bottom:30px;
  right:20px;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:40px;
  z-index:100;
}

.whatsapp-icon {
  color:white;
  text-decoration: none;
}

.whatsapp-icon:hover{
  color:rgb(251, 202, 27);
}

/*texto footer*/
.textoFooter {
  text-align: center;
  color: white;
  font-family: 'Montserrat';
  margin-top: 5px;
  font-size: 12px;
}

/*VERSION DE TABLET*/
@media (min-width:768px) {
    .contenedor {
        grid-template-areas:
        "header header header"
        "sedes sedes sedes"
        "footer footer footer";
  }

  .logo {
      height: 60px;
      margin-left: 50px;
      margin-top: 30px;
  }

  /*sede A*/

  .sedeA {
    text-align: start;
    margin-top: 0px;
    margin-left: 0%;
    padding-right: 0%;
    margin-bottom: 60px;
  }

  .tituloSedeA {
    font-size: 40px;
    padding-left: 150px;
  }

  .logo-sedeA {
    height: 400px;
    margin-bottom: 10px;
  }

  /*sede B*/
  .sedeB {
    text-align: start;
    margin-top: 0px;
    margin-right: 0%;
  }

  .tituloSedeB {
    font-size: 40px;
    padding-left: 150px;
  }

  .logo-sedeB {
    height: 400px;
    margin-bottom: 10px;
  }

  .horariosTituloA{
    font-size: 30px;
    padding-left: 150px;
  }

  .horariosTituloB{
    font-size: 30px;
    padding-left: 150px;
  }

  .descripcionA{
    font-size: 25px;
    padding-left: 150px;
    
  }

  .descripcionB{
    font-size: 25px;
    padding-left: 150px;
    padding-right: 50px;
  }

  /*footer*/
  .textoFooter {
    margin-top: 1px;
    font-size: 12px;
  }
}

/*GRID AREA*/
/*ORDENADOR*/
@media (min-width:1024px) {
  .contenedor {
      grid-template-areas:
      "header header header"
      "sedes sedes sedes"
      "footer footer footer";
  }
  
  .contenedor-nav{
    display: flex;
    margin: auto;
    justify-content: space-between;
    height: auto;
  }

  .enlaces{
      display: flex;
      position:inherit;
      overflow:visible;
      left:auto;
      width: 40%;
      background:transparent;
      height: 0;
      margin-right: 50px;
      flex-direction: row;
      justify-content: end;
      
  }

  nav .enlaces a{
      
      width: auto;
      padding: 0px 15px 0px 15px;
      margin-right: 0;
      text-decoration: none;
      border-bottom: none;
      background:transparent;
  }

  .icono{
      display:none;
      font-size: 24px;
      padding: 23.5px 20px;
  }

  .logo, .logo img{ 
      height:60px;
  }

  .sedes {
    flex-direction: row;
    align-content: start;
    justify-content: space-between;
    vertical-align: middle;
    margin-top: 0;
    

  }

  .sedeA {
    text-align: start;
    margin-top: 2%;
  }

  .tituloSedeA {
    font-size: 26px;
    padding-left: 103px;
  }

  .logo-sedeA {
    height: 275px;
    margin-bottom: 10px;
  }

  
  .sedeB {
    text-align: start;
    margin-top: 2%;
  }

  .tituloSedeB {
    font-size: 26px;
    padding-left: 67px;
  }

  .logo-sedeB {
    
    height: 275px;
    margin-bottom: 10px;
    text-align: end;
  }

  .horariosTituloA{
    font-size: 20px;
    padding-left: 103px;
  }

  .horariosTituloB{
    font-size: 20px;
    padding-left: 67px;
  }

  .descripcionA{
    font-size: 15px;
    padding-left: 103px;
  }

  .descripcionB{
    font-size: 15px;
    padding-left: 67px;
    padding-right: 0;
  }

  .whatsapp{
      bottom:40px;
      right:30px;
      font-size:40px;
  }
}

/*GRID AREA*/
/*ORDENADOR*/
@media (min-width:1220px) {
  .contenedor {
      grid-template-areas:
      "header header header"
      "sedes sedes sedes"
      "footer footer footer";
  }
  
  .contenedor-nav{
    display: flex;
    margin: auto;
    justify-content: space-between;
    height: auto;
  }

  .enlaces{
      display: flex;
      position:inherit;
      overflow:visible;
      left:auto;
      width: 40%;
      background:transparent;
      height: 0;
      margin-right: 50px;
      flex-direction: row;
      justify-content: end;
  }

  nav .enlaces a{
      display: inline-block;
      width: auto;
      padding: 0px 15px 0px 15px;
      margin-right: 0;
      text-decoration: none;
      border-bottom: none;
      background:transparent;
  }

  .icono{
      display:none;
      font-size: 24px;
      padding: 23.5px 20px;
  }

  .logo, .logo img{ 
      height:60px;
  }


  .tituloSedeA {
    font-size: 30px;
    padding-left: 125px;
  }

  .logo-sedeA {
    height: 335px;

  }

  .tituloSedeB {
    font-size: 30px;
    padding-left: 80px;
  }

  .logo-sedeB {
    height: 335px;
  }

  .horariosTituloA{
    font-size: 23px;
    padding-left: 125px;
  }

  .horariosTituloB{
    font-size: 23px;
    padding-left: 80px;
  }

  .descripcionA{
    font-size: 18px;
    padding-left: 125px;
  }

  .descripcionB{
    font-size: 18px;
    padding-left: 80px;
  }

  .whatsapp{
      bottom:60px;
      right:30px;
      font-size:60px;
  }
}

/*GRID AREA*/
/*ORDENADOR*/
@media (min-width:1440px) {
  .contenedor {
      grid-template-areas:
      "header header header"
      "sedes sedes sedes"
      "footer footer footer";
  }
  
  .contenedor-nav{
    display: flex;
    margin: auto;
    justify-content: space-between;
    height: auto;
  }

  .enlaces{
      display: flex;
      position:inherit;
      overflow:visible;
      left:auto;
      width: 40%;
      background:transparent;
      height: 0;
      margin-right: 50px;
      flex-direction: row;
      justify-content: end;
  }

  nav .enlaces a{
      display: inline-block;
      padding: 0px 15px 0px 15px;
      margin-right: 0;
      text-decoration: none;
      border-bottom: none;
      background:transparent;
  }

  .icono{
      display:none;
      font-size: 24px;
      padding: 23.5px 20px;
  }

  .logo, .logo img{ 
      height:60px;
  }


  .tituloSedeA {
    font-size: 35px;
    padding-left: 145px;
  }

  .logo-sedeA {
    height: 385px;

  }

  .tituloSedeB {
    font-size: 35px;
    padding-left: 92px;
  }

  .logo-sedeB {
    height: 385px;
  }

  .horariosTituloA{
    font-size: 28px;
    padding-left: 145px;
  }

  .horariosTituloB{
    font-size: 28px;
    padding-left: 92px;
  }

  .descripcionA{
    font-size: 20px;
    padding-left: 145px;
  }

  .descripcionB{
    font-size: 20px;
    padding-left: 92px;
  }

  .whatsapp{
      bottom:60px;
      right:30px;
      font-size:60px;
  }
}

/*GRID AREA*/
/*ORDENADOR*/
@media (min-width:1600px) {
  .contenedor {
      grid-template-areas:
      "header header header"
      "sedes sedes sedes"
      "footer footer footer";
  }
  
  .contenedor-nav{
    display: flex;
    margin: auto;
    justify-content: space-between;
    height: auto;
  }

  .enlaces{
      display: flex;
      position:inherit;
      overflow:visible;
      left:auto;
      width: 40%;
      background:transparent;
      height: 0;
      margin-right: 50px;
      flex-direction: row;
      justify-content: end;
  }

  nav .enlaces a{
      display: inline-block;
      padding: 0px 15px 0px 15px;
      margin-right: 0;
      text-decoration: none;
      border-bottom: none;
      background:transparent;
  }

  .icono{
      display:none;
      font-size: 24px;
      padding: 23.5px 20px;
  }

  .logo, .logo img{ 
      height:60px;
  }


  .tituloSedeA {
    font-size: 40px;
    padding-left: 168px;
  }

  .logo-sedeA {
    height: 450px;

  }

  .tituloSedeB {
    font-size: 40px;
    padding-left: 108px;
  }

  .logo-sedeB {
    height: 450px;
  }

  .horariosTituloA{
    font-size: 28px;
    padding-left: 168px;
  }

  .horariosTituloB{
    font-size: 28px;
    padding-left: 108px;
  }

  .descripcionA{
    font-size: 22px;
    padding-left: 168px;
  }

  .descripcionB{
    font-size: 22px;
    padding-left: 108px;
  }

  .whatsapp{
      bottom:60px;
      right:30px;
      font-size:60px;
  }
}

/*GRID AREA*/
/*ORDENADOR*/
@media (min-width:1920px) {
  .contenedor {
      grid-template-areas:
      "header header header"
      "sedes sedes sedes"
      "footer footer footer";
  }
  
  .contenedor-nav{
    display: flex;
    margin: auto;
    justify-content: space-between;
    height: auto;
  }

  .enlaces{
      display: flex;
      position:inherit;
      overflow:visible;
      left:auto;
      width: 40%;
      background:transparent;
      height: 0;
      margin-right: 50px;
      flex-direction: row;
      justify-content: end;
  }

  nav .enlaces a{
      display: inline-block;
      padding: 0px 15px 0px 15px;
      margin-right: 0;
      text-decoration: none;
      border-bottom: none;
      background:transparent;
  }

  .icono{
      display:none;
      font-size: 24px;
      padding: 23.5px 20px;
  }

  .logo, .logo img{ 
      height:60px;
  }


  .tituloSedeA {
    font-size: 45px;
    padding-left: 195px;
  }

  .logo-sedeA {
    height: 520px;

  }

  .tituloSedeB {
    font-size: 40px;
    padding-left: 125px;
  }

  .logo-sedeB {
    height: 520px;
  }

  .horariosTituloA{
    font-size: 32px;
    padding-left: 195px;
  }

  .horariosTituloB{
    font-size: 32px;
    padding-left: 125px;
  }

  .descripcionA{
    font-size: 25px;
    padding-left: 195px;
  }

  .descripcionB{
    font-size: 25px;
    padding-left: 125px;
  }

  .whatsapp{
      bottom:60px;
      right:30px;
      font-size:60px;
  }
}