body {
  margin: 0;
  min-height: 100vh;
  background-color: black;
  background-image: url('../imagenes/fondo_sedes.webp');
  background-size: cover;
  overflow-y: auto;
  overflow-x: hidden;
}

/*VERSION DE CELULAR*/
.contenedor {
  display:grid;
  grid-template-areas:
      "header nav"
      "sedeA sedeA"
      "sedeB sedeB "
      "footer footer";
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

.sedeA {
  grid-area: sedeA;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 20px;
}

.sedeB {
  grid-area: sedeB;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 20px;
}

nav{
  z-index: 100;
}

.nav-links {
  position: fixed;
  right: 0px;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 40%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}

.nav-links li {
  margin-top: 8px;;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
}

.nav-links li a:hover{
  color:rgb(251, 202, 27);
  transition: 0.5s;
}

.burger {
  display: block;
  cursor: pointer;
}

.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.burger {
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 15px;;
  margin-top:4vh;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 2px;
  transition: all 0.3s ease;
}

/*isotipo*/
.logo {
  height: 40px;
  margin-left: 40px;
  margin-top: 20px;
}

/*texto cuerpo*/
.textoSedeA {
  display:flex;
  flex-direction:column ;
  align-items: flex-start;
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;
  color: white;
}

.tituloSedeA {
  font-size: 22px;
  font-family: 'Poppins';
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: italic;
}

.logo-sedeA {
  height: 170px;
  width: auto;
  margin-bottom: 20px;
}

.subtituloSedeA {
  width: 100%;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  background-image: url("../imagenes/sedes_izquierda.webp");
  background-size: cover;
}

/*sede B*/
.textoSedeB {
  display:flex;
  flex-direction:column ;
  align-items: flex-start;
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;
  color: white;
}

.tituloSedeB {
  font-size: 22px;
  font-family: 'Poppins';
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: italic;
}

.logo-sedeB {
  height: 170px;
  width: auto;
  margin-bottom: 20px;
}

.subtituloSedeB {
  width: 100%;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  background-image: url("../imagenes/sedes_derecha.webp");
  background-size: cover;
  
}

.descripcion{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.descripcion strong {
  font-style: italic;
}

.horariosTitulo{
  color:rgb(251, 202, 27);
  font-size: 18px;
  font-family: 'Poppins';
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-style: italic;
}

/*footer*/
footer {
  grid-area: footer;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
}

.whatsapp{
  position:fixed;
  width:60px;
  height:60px;
  bottom:30px;
  right:20px;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:40px;
  z-index:100;
}

/*texto footer*/
.textoFooter {
  text-align: center;
  color: white;
  font-family: 'Montserrat';
  margin-top: 5px;
  font-size: 12px;
}

/*VERSION DE TABLET*/
@media (min-width:768px) {
    .contenedor {
        grid-template-areas:
            "header nav nav"
            "sedeA sedeB sedeB"
            "footer footer footer";
    }

    /*navegador*/
    nav {
        position:fixed;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        z-index: auto;
    }

    .nav-links {
        display:flex;
        flex-direction: row;
        align-items: flex-start;
        width: 50%;
        height:auto;
        background-color: transparent;
        justify-content: space-around;
        transform:none;
        height: auto;
        top:4vh;
        margin-bottom: 0;
        margin-right: 70px;
    }

    .nav-links li {
        display:flex;
        opacity: 1;
    }

    .nav-links li a {
        color: white;
        font-size: 17px;
        font-weight: 400;
        font-family: 'Montserrat';
    }

    .navbar-toggle {
        color: white;
    }

    .burger {
        display: none;
    }

    .logo {
        height: 60px;
        margin-left: 50px;
        margin-top: 30px;
    }

  /*sede A*/
  .textoSedeA {
    margin-left: 100px;
    margin-top: 50px;
    align-items: flex-start;
  }

  .tituloSedeA {
    font-size: 22px;
  }

  .logo-sedeA {
    height: 250px;
  }

  .subtituloSedeA {
    font-size: 18px;
  }

  /*sede B*/
  .textoSedeB {
    margin-left: 100px;
    margin-top: 50px;
    align-items: flex-start;
  }

  .tituloSedeB {
    font-size: 22px;
  }

  .logo-sedeB {
    height: 250px;
  }

  .subtituloSedeB {
    width: 70%;
    font-size: 18px;
  }

  .horariosTitulo{
    font-size: 22px;
  }

  /*footer*/
  .textoFooter {
    margin-top: 1px;
    font-size: 12px;
  }
}

/*GRID AREA*/
/*ORDENADOR*/
@media (min-width:1024px) {
  .contenedor {
      grid-template-areas:
      "header nav nav"
      "sedeA sedeB sedeB"
      "footer footer footer";
  }
  nav {
      position:fixed;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      z-index: auto;
  }

  .nav-links {
      display:flex;
      flex-direction: row;
      align-items: flex-start;
      width: 40%;
      height:auto;
      background-color: transparent;
      justify-content: space-evenly;
      transform:none;
      height: auto;
      top:4vh;
      margin-bottom: 0;
      margin-right: 70px;
  }

  .nav-links li {
      display:flex;
      opacity: 1;
  }

  .nav-links li a {
      font-size: 17px;
      font-weight: 400;
      font-family: 'Montserrat';
  }

  .burger {
      display: none;
  }

  .logo {
      height: 60px;
      margin-left: 50px;
      margin-top: 30px;
  }

  .logo-sedeA {
    height: 300px;
  }

  .textoSedeA {
    margin-left: 170px;
    margin-top:20px;
  }

  .logo-sedeB {
    height: 300px;
  }

  .textoSedeB {
    margin-left: 100px;
    margin-top:20px;
    align-items: flex-start;
  }

  .whatsapp{
      bottom:40px;
      right:30px;
      font-size:40px;
  }
}