body {
    height: 100%;
    margin: 0;
    background-image: url('../imagenes/fondo-index.png');
    background: contain;
    overflow-y: auto;
}

/*GRID AREA*/
/*ESCRITORIO*/
.contenedor {
    display: grid;
    grid-template-areas:
        "header nav nav"
        "main main main"
        "footer footer footer";
}

header {
    grid-area: header;
}


nav {
    grid-area: nav;
}


main {
    
    grid-area: main;
}


footer {
  
    grid-area: footer;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}


/*isotipo*/
.logo {
    height: 40px;
    margin-left: 40px;
    margin-top: 20px;
}

/*navegador*/
.nav-link {
    color: white;
    margin: 10px;
}

/*Estilos de la galeria*/
/*diseño de packaging*/
h1 {
    font-size: 25px;
    text-align: center;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0;
    color: white;
}

.galeria1 {
    margin: 20px;
    /*display flex*/
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
}

.galeria1 figure {
    text-align: center;
}

.galeria1 figure img {
    border-radius: 5px;
    width: 250px;
    transition: transform .2s;
}

.galeria1 figure img:hover {
    transform: scale(1.5);
}

/*diseño de logos*/
h2 {
    font-size: 25px;
    text-align: center;
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 0;
    color: white;
}

.galeria2 {
    margin: 20px;
    /*display flex*/
    display: flex;
    flex: 2;
    flex-direction: row;
    justify-content: space-evenly;
}

.galeria2 figure {
    text-align: center;
}

.galeria2 figure img {
    border-radius: 5px;
    width: 250px;
    transition: transform .2s;
}

.galeria2 figure img:hover {
    transform: scale(1.5);
}

/*footer*/

/*logo*/
.logoFooter {
    height: 20px;
    margin-top: 7px;
}

/*texto footer*/
.textoFooter {
    color: white;
    font-family: 'Montserrat';
    margin-top: 1px;
    font-size: 12px;
}

/*VERSION DE TABLET*/
@media (max-width:1100px) {
    .contenedor {
        grid-template-areas:
            "header nav nav"
            "main main main"
            "footer footer footer";
    }

    .galeria1 {
        flex-direction: column;
        align-items: center;
    }

    .galeria1 figure img {
        width: 400px;
    }

    .galeria2 {
        flex-direction: column;
        align-items: center;
    }

    .galeria2 figure img {
        width: 400px;
    }

}



/*VERSION DE CELULAR*/
@media (max-width:600px) {
    .contenedor {
        grid-template-areas:
            "header nav nav"
            "main main main"
            "footer footer footer";
    }

    .galeria1 {
        flex-direction: column;
        align-items: center;
    }

    .galeria1 figure img {
        width: 280px;
    }

    .galeria2 {
        flex-direction: column;
        align-items: center;
    }

    .galeria2 figure img {
        width: 280px;
    }
}