body {
    min-height: 100vh;
    margin: 0;
    background-color: black;
    background-image: url(../imagenes/servicios/fondo-servicios_2-100.jpg); 
    background-size: 100% auto;
    background: contain;
    overflow-y: auto;
}

/*GRID AREA*/
/*CELULAR*/
.contenedor {
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas:
        "header header"
        "sectionA sectionA"
        "sectionB sectionB"
        "footer footer";
}

header {
    grid-area: header;
    height:100px;
    width: 100%;
}

.sectionA {
    grid-area: sectionA;
    margin-top:30px;
}

.sectionB {
    grid-area: sectionB;
}

/* Pantalla de carga */
.hidden{
  overflow: hidden;
}

.centrado{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: rgb(251, 202, 27);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }

  50%,
  100% {
    top: 19px;
    height: 26px;
  }
}

/* Navbar */
nav{
  width: 100%;
  position: absolute;
  z-index: 101;
}

.nav1{
  background: transparent;
  height: 80px;
  color:#fff;
}

.contenedor-nav{
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height:inherit;
  overflow: hidden;
}

.enlaces{
  position: fixed;
  top:80px;
  background: black;
  right: 0;
  height: 100%;
  transition: 1s;
  width: 0;
  overflow: hidden;
}

.enlaces a{
  display: block;
  width: 100%;
  height: 50px;
  padding: 20px;
  text-align: center;
  background: black;
  color:#fff;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Montserrat';
}

nav .enlaces a:hover{
  color:rgb(251, 202, 27);
  transition: 0.6s;
}

/* icono responsive y logo */
.icono{
  display:block;
  cursor: pointer;
  font-size: 25px;
  margin-right: 20px;
}

.logo, .logo img{ 
  height:40px;
  margin-left:20px;
}

/*carousel*/
.carousel{
    display:flex;
    max-width: 400px;
    margin:0 auto;
    justify-content: center;
    align-items: center;
}

#imagen {
  width: 310px;
  height: 460px;
  background-size: cover;
}

#imagenDos {
  width: 310px;
  height: 460px;
  background-size: cover;
}

#imagenTres {
  width: 310px;
  height: 460px;
  background-size: cover;
}

#imagenCuatro {
  width: 310px;
  height: 460px;
  background-size: cover;
}

button{
  background-color: transparent;
  height: 20px;
  align-content:center;
  border: 0;
}

#avanzar img{
  height: 20px;
}

#retroceder img{
  height: 20px;
}

/*Seccion B*/
.sectionB {
  display:flex;
  flex-direction: column;
  margin-top: 60px;
}

.titulo{
  color:white;
  font-size: 50px;
  text-align: center;
  font-family: 'Poppins' 'Black Italic' ;
  font-style: italic;
  font-weight: 900;
}

.subTitulo {
  color:rgb(251, 202, 27);
  font-size: 20px;
  text-align: center;
  font-family: 'Poppins' 'Black Italic' ;
  letter-spacing: 5px;
  font-weight: 900;
  font-style: italic;
}

.cards_content{
  margin: 20px;
  /*display flex*/
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 30px;
}

figure img {
  width: 500px;
  transition: transform .2s;
}

figure img:hover {
    transform: scale(1.2);
}


/*Whatsapp sticky*/
.whatsapp{
    position:fixed;
    width:60px;
    height:60px;
    bottom:30px;
    right:20px;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:40px;
    z-index:100;
    text-decoration: none;
}

.whatsapp-icon {
  color:white;
  text-decoration: none;
}

.whatsapp-icon:hover{
  color:rgb(251, 202, 27);
}

footer {
    grid-area: footer;
    bottom: 0;
    width: 100%;
}

/*texto footer*/
.textoFooter {
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    margin-top: 5px;
    font-size: 12px;
}

/*VERSION DE TABLET*/
@media (min-width:768px) {

  .logo {
    height: 60px;
    margin-left: 50px;
    margin-top: 30px;
  }

  /*carousel*/
  .carousel{
    max-width: 1600px;
  }

  #imagen {
    width: 410px;
    height: 610px;
  }

  #imagenDos {
    width: 410px;
    height: 610px;
  }

  #imagenTres {
    width: 410px;
    height: 610px;
  }

  #imagenCuatro {
    width: 410px;
    height: 610px;
  }

  button{
    height: 40px;
  }

  #avanzar img{
    height: 40px;
  }

  #retroceder img{
    height: 40px;
  }
}

@media (min-width:1024px){
  .contenedor {
    grid-template-areas:
    "header header header"
    "sectionA sectionA sectionA"
    "sectionB sectionB sectionB"
    "footer footer footer";
  }

  .contenedor-nav{
    display: flex;
    margin: auto;
    justify-content: space-between;
    height: auto;
  }

  .enlaces{
      display: flex;
      position:inherit;
      overflow:visible;
      left:auto;
      width: 40%;
      background:transparent;
      height: 0;
      margin-right: 50px;
  }

  nav .enlaces a{
      display: inline-block;
      padding: 0;
      margin-right: 0;
      text-decoration: none;
      border-bottom: none;
      background:transparent;
  }

  .icono{
      display:none;
      font-size: 24px;
      padding: 23.5px 20px;
  }

  .logo, .logo img{ 
      height:60px;
  }
  
  .carousel{
    max-width: 1600px;
  }

  #imagen {
    width: 300px;
    height: 445px;
  }

  #imagenDos {
    width: 300px;
    height: 445px;
  }

  #imagenTres {
    width: 300px;
    height: 445px;
  }

  #imagenCuatro {
    width: 300px;
    height: 445px;
  }
}


