body {
    min-height: 100vh;
    margin: 0;
    background-color: black;
    /* background-image: url('../imagenes/fondo-index.png'); */
    background: contain;
    overflow-y: auto;
}

/*GRID AREA*/
/*CELULAR*/
.contenedor {
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
    grid-template-areas:
        "header nav"
        "sectionA sectionA"
        "sectionB sectionB"
        "footer footer";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

.sectionA {
    grid-area: sectionA;
    margin-top:30px;
}

.sectionB {
    grid-area: sectionB;
}

.nav-links {
    position: fixed;
    right: 0px;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
}

.nav-links li {
  margin-top: 8px;;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
}

.nav-links li a:hover{
  color:rgb(251, 202, 27);
  transition: 0.5s;
}

.burger {
  display: block;
  cursor: pointer;
}

.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.burger {
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 15px;;
  margin-top:4vh;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 2px;
  transition: all 0.3s ease;
}

/*isotipo*/
.logo {
  height: 40px;
  margin-left: 40px;
  margin-top: 20px;
}

/*carousel*/
.carousel{
    display:flex;
    max-width: 400px;
    margin:0 auto;
    justify-content: center;
    align-items: center;
}

#imagen {
  width: 310px;
  height: 460px;
  background-size: cover;
}

#imagenDos {
  width: 310px;
  height: 460px;
  background-size: cover;
}

#imagenTres {
  width: 310px;
  height: 460px;
  background-size: cover;
}

button{
  background-color: transparent;
  height: 20px;
  align-content:center;
  border: 0;
}

#avanzar img{
  height: 20px;
}

#retroceder img{
  height: 20px;
}

/*Seccion B*/
.sectionB {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.titulo{
  color:white;
  font-size: 20px;
}

.subTitulo {
  color:rgb(251, 202, 27);
  font-size: 18px;
}

.cards_content{
  display:flex;
  flex-direction: row;
  width: 100vh;
  /* width: 190px;
  height: 254px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;*/
}

.gympass{
    background: red;
    border-radius: 17px;
    width: 100%;
    height: 300px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    border-radius: 20px;
    margin:5px;
}

.promociones{
    background: white;
    border-radius: 17px;
    width: 100%;
    height: 300px;
    border-radius: 20px;
    margin:5px
}

/*Whatsapp sticky*/
.whatsapp{
    position:fixed;
    width:60px;
    height:60px;
    bottom:30px;
    right:20px;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:40px;
    z-index:100;
    text-decoration: none;
}

.whatsapp-icon {
  color:white;
  text-decoration: none;
}

.whatsapp-icon:hover{
  color:rgb(251, 202, 27);
}

footer {
    grid-area: footer;
    bottom: 0;
    width: 100%;
}

/*texto footer*/
.textoFooter {
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    margin-top: 5px;
    font-size: 12px;
}

/*VERSION DE TABLET*/
@media (min-width:768px) {
  /*carousel*/
  .carousel{
    max-width: 1600px;
  }

  #imagen {
    width: 410px;
    height: 610px;
  }

  #imagenDos {
    width: 410px;
    height: 610px;
  }

  #imagenTres {
    width: 410px;
    height: 610px;
  }

  button{
    height: 40px;
  }

  #avanzar img{
    height: 40px;
  }

  #retroceder img{
    height: 40px;
  }


}

@media (min-width:1024px){
  .contenedor {
    grid-template-areas:
    "header nav nav"
    "sectionA sectionA sectionA"
    "sectionB sectionB sectionB"
    "footer footer footer";
  }
  nav {
      position:absolute;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      z-index: auto;
  }

  .nav-links {
      display:flex;
      flex-direction: row;
      align-items: flex-start;
      width: 40%;
      height:auto;
      background-color: transparent;
      justify-content: space-evenly;
      transform:none;
      height: auto;
      top:4vh;
      margin-bottom: 0;
      margin-right: 70px;
  }

  .nav-links li {
      display:flex;
      opacity: 1;
  }

  .nav-links li a {
      color: white;
      font-size: 17px;
      font-weight: 400;
      font-family: 'Montserrat';
  }

  .burger {
      display: none;
  }

  .logo {
      height: 60px;
      margin-left: 50px;
      margin-top: 30px;
  }

  .carousel{
    max-width: 1600px;
  }

  #imagen {
    width: 300px;
    height: 445px;
  }

  #imagenDos {
    width: 300px;
    height: 445px;
  }

  #imagenTres {
    width: 300px;
    height: 445px;
  }
}


